<!DOCTYPE html>
<html>
    <head>
        <title>Ajouter un Patient</title>
    </head>
    <body>
        <h1>Formulaire d'ajouter un patient</h1>
        <form action="/submit" method="post">
            <label>Nom:</label>
            <input type="text" name="name" required><br><br>

            <label>Pregnancies:</label>
            <input type="number" name="pregnancies" required><br><br>

            <labe>Glucose:</labe>
            <input type="number" step="any" name="glucose" required><br><br>

            <label>BMI:</label>
            <input type="number" step="any" name="bmi" required><br><br>

            <label>Age:</label>
            <input type="number" step="any" name="age" required>


















        </form>





    </body>

















</html>