<!DOCTYPE html>
<html>
    <head>
        <title>Liste des patients</title>
    </head>
    <body>
        <h1>Liste des patients</h1>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Age</th>
                <th>Glucose</th>
                <th>BMI</th>
                <th>Résultat</th>
                <th>Actions</th>
            </tr>
            (% for patient in patients %)
            <tr>
                <td>{{</td>



            </tr>













        </table>
    </body>











</html>